@charset "utf-8";
*{font-family: cursive, monospace, sans-serif;
    
} 
div.quadrado {
    display: inline-block;
            border: 3px solid black;
            width: 300px;
            height: 300px;
}

